<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.snap.snapservices">

    <application>
        <service android:name=".alarms.SnapProxyService" />

        <service android:name=".foreground.SnapForegroundService1" />
        <service android:name=".foreground.SnapForegroundService2" />
        <service android:name=".foreground.SnapForegroundService3" />
        <service android:name=".foreground.SnapForegroundService4" />

        <service android:name=".alarms.SnapForkedProxyService"
            android:process=":snap_service_fork"/>
    </application>

</manifest>
